{% extends 'base.html.twig' %}
{% block menu %}
              <li class="nav-item">
                <a href="{{path('provider_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Provider List</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('provider_new')}}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Provider Add</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('article_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Article List</p>
                </a>
              </li>

                <li class="nav-item">
                <a href="{{path('article_new')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Article Add</p>
                </a>
              </li>
               {% endblock %}

{% block title %}New Provider{% endblock %}

{% block fils %}
  
    {{ include('provider/_form.html.twig') }}

    <a href="{{ path('provider_index') }}">back to list</a>
{% endblock %}
